language: python
python:
  - 2.7
  - 3.2
  - 3.3
  - 3.4
  - 3.5
  - 3.6 # nuitka seems to work only with python2.7 with the used command option (--recurse-all --recurse-stdlib)
  # - 3.6-dev
  # - nightly
matrix:
  fast_finish: true
  allow_failures:
    - python: 3.2
    - python: 3.3
    - python: 3.4
    - python: 3.5
    - python: 3.6
    - python: nightly
before_install:
  - gcc --version
  - g++ --version
  - apt-cache policy python python2.7-minimal python-dev python3 python3-dev
  - dpkg --search /usr/bin/python
  - dpkg --search /usr/bin/python2.7
  - which python2.7
script:
  - pytest
  - python Hello_world.py
  -             nuitka                                --python2-for-scons=/usr/bin/python2.7 --exe Hello_world.py && ./Hello_world.exe
  # - travis_wait nuitka --recurse-all --recurse-stdlib --python2-for-scons=/usr/bin/python2.7 --exe Hello_world.py && ./Hello_world.exe
  - travis_wait nuitka --recurse-all                  --python2-for-scons=/usr/bin/python2.7 --exe Hello_world.py && ./Hello_world.exe
  - which nuitka
  - nuitka --recurse-none --python2-for-scons=/usr/bin/python2.7  --exe `which nuitka`
  - ./nuitka.exe --version || true
  - ls
  - nuitka --help

# Python3, yes but Python2 compile time dependency
# http://nuitka.net/doc/user-manual.html#use-case-1-program-compilation-with-all-modules-embedded
# Nuitka itself is fully Python3 compatible except for Scons.
# http://scons.org/tag/releases.html

# Moving to other machines
# The created binaries can be made executable independent of the Python installation, with --standalone option.
# http://nuitka.net/doc/user-manual.html#use-case-1-program-compilation-with-all-modules-embedded
