language: python
python:
  - 2.7
  - # 3.6 # nuitka seems to work only with python2.7 with the used command option (--recurse-all --recurse-stdlib)
  - # 3.6-dev
  - # nightly
matrix:
  fast_finish: true
  allow_failures:
    - python: nightly
script:
  - pytest
  - python Hello_world.py
  - travis_wait nuitka --recurse-all --recurse-stdlib --exe Hello_world.py
  - ./Hello_world.exe
  - which nuitka
  - travis_wait nuitka --recurse-all --recurse-stdlib --exe `which nuitka`
  - travis_wait ./nuitka.exe --recurse-all --recurse-stdlib --exe Hello_world.py
  - ./Hello_world.exe
  - ls
