language: python
python:
  - 3.6
  - 3.6-dev
  - nightly
matrix:
  fast_finish: true
  allow_failures:
    - python: nightly
script:
  - pytest
  - travis_wait nuitka --recurse-all --recurse-stdlib --exe Hello_world.py
  - ls
  - ./Hello_world.exe
